:root {
  --header-color: #3576C6
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}


.header-wrap {
  justify-content: center;
  gap: 300px;
  align-items: center;
  background-color: var(--header-color);
}

.header-menu {
  gap: 47px;
}

.header-logo {
  margin-top: 10px;
}


.header-link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: white
}

.header-button {
  width: 141px;
  height: 41.69px;
  background-color: #0B0E66;
  color: #26C7EA;
  font-weight: 400;
  font-style: regular;
  font-size: 20px;
  line-height: 100%;
  justify-content: center;
  font-family: "Inter", sans-serif;
  border: none;
}




/*-------------Container1------------------- */
.container1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec-wrap {
  position: relative;
  background-image: url(images/Group\ 48\ 1\ \(1\).png);
  width: auto;
  background-size: cover;
  height: 728px;
}

.sec-social {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.text1 {
  margin-bottom: 50px;
}

p {
  font-weight: 400;
  font-style: medium;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

/* sec2------------------- */

.sec1-wrap {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.sec1-box {
  border: 1px solid #C8EAFF;
  background-color: #C8EAFF;
  border-radius: 40px;
  padding: 15px;

}

.sec1-box2 {
  border: 1px solid #C8EAFF;
  background-color: #C8EAFF;
  border-radius: 40px;
  padding: 15px;

}

h1 {
  font-weight: 400;
  font-style: medium;
  font-size: 24px;
  line-height: 100%;
  font-family: "Inter", sans-serif;
}

/* sec3---------------------- */

.container3 {
  background-image: url(images/Rectangle\ 20\ \(1\).png);
}


.sec2-wrap {
  height: 704px;
  margin-top: 20px;
  text-align: center;

  h3 {
    padding-top: 58px;
    font-family: "Headland One", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: white;
    text-align: center;
  }

}

.sec-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, 240px);
  justify-content: center;
  margin-top: 45px;
  column-gap: 36px;
  row-gap: 24px;

  .card {
    background-color: white;
    opacity: 0.7;
  }

  h4 {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #0B0E66;
    padding-top: 30px;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 15px;
  }

  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: regular;
    line-height: 24px;
    text-align: left;
    margin-left: 15px;
  }

}





.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #0A3853;
  margin-top: 50px;
}

.sec4-text h3 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 100%;
  margin-bottom: 40px;
}

.sec4-wrap {
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: 50px;
}


.sec4-cards {
  flex-direction: column;
  gap: 20px;
}

.card1 {
  display: flex;
  gap: 15px;
  font-size: 20px;
  text-align: left;
  color: black;
}

.card1 img {
  width: 32px;
  height: 32px;
}





.container5 {
  background-image: url("images/Rectangle 12.png");
  background-size: cover;
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec5-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.sec5-text h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: white;
  margin-bottom: 10px;
}

.sec5-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: white;
}

.sec5-form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.sec5-form input {
  padding: 15px 25px;
  font-size: 18px;
}

.sec5-form button {
  background-color: #002D96;
  color: white;
  border: 1px solid #26C7EA;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 40px;
}



.ifg {
  padding-left: 45px;
  background-image: url("images/Group\ 61.png");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 20px 20px;
  font-size: 18px;
  height: 50px;
  width: 280px;
}






.footer {
  background-color: #3576C6;
  color: #ffffff;
  padding: 40px;
  font-family: "Inter", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}



.footer-column h3 {
  color: #4cd7f2;
  font-size: 24px;
  margin-bottom: 12px;
}

.footer-column p {
  margin: 6px 0;
  font-size: 16px;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* Tablet */
@media (max-width: 900px) {
  .header-button {
    display: none;
  }

  .header-wrap {
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
  }

  .sec4-wrap {
    flex-direction: column;
    text-align: center;
  }

  .sec5-form {
    flex-direction: column;
    width: 100%;
  }

  .header-menu {
    display: none;
  }
}

/* Mobile */
@media (max-width: 600px) {
  nav ul.header-menu {
    width: 90%;
    right: 5%;
  }

  .sec-wrap {
    height: 320px;
  }

  .header-button {
    display: none;
  }

  .header-wrap {
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
  }

  .sec4-wrap {
    flex-direction: column;
    text-align: center;
  }

  .sec5-form {
    flex-direction: column;
    width: 100%;
  }

  .header-menu {
    display: none;
  }
}
