:root {
    --main-color: #FFFFFF;
    --color1: #0A3853
}



.header-link {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--main-color);
}

.header-button {
    width: 141px;
    height: 41.69px;
    background-color: #26C7EA;

    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    line-height: 100%;
    justify-content: center;
    font-family: HeadlandOne;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.container1 {
    background-image: url(images/Group\ 48\ 1.png);
    height: 740px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container1 pre {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--main-color);

}

.c-button {
    width: 260px;
    height: 80px;
    background-color: #0B0E66;
    margin-top: 50px;
    border: 3px solid #26C7EA;
    color: #26C7EA;
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    line-height: 100%;
    font-family: "HeadlandOne";
}

.container2 {
    margin-top: 50px;
    height: 740px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2 p {
    margin-top: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 20px;
    color: var(--color1);
}

.c2 img {
    width: 140px;
    height: 100px;
}


.container3 {
    margin-top: 15px;
    background-image: url(images/Rectangle\ 10.png);
    background-position: center;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}














.sec-wrap {
    background-image: url(images/Rectangle\ 20.png);
    height: 704px;
    margin-top: 20px;
    text-align: center;

        h3 {
        padding-top: 58px;
        font-family: "Headland One", serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        color: var(--text-color);
        text-align: center;
    }

}

.sec-grid {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 240px);
    justify-content: center;
    margin-top: 45px;
    column-gap: 36px;
    row-gap: 24px;

    .card {
        background-color: white;
        opacity: 0.7;
    }

    h4 {

        font-family: "Headland One", serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: black;
        padding-top: 30px;
    }

    p {
        font-family: "Headland One", serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: black;
        text-align: start;
        padding-left: 24px;
    }
}

.container4 {
    margin-top: 700px;

}

